<div {{ block.shopify_attributes }}>
  {%- if product != blank -%}
    <product-form class="product-form">
      <div class="pr-form-error" role="alert" hidden>
        <span class="pr-form-error-text"></span>
      </div>
      {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
        <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled class="product-variant-id">
        <div class="pr-form-button">
          {%- liquid
            assign check_against_inventory = true
            if product.selected_or_first_available_variant.inventory_management != 'shopify' or  product.selected_or_first_available_variant.inventory_policy == 'continue'
              assign check_against_inventory = false
            endif
            if product.selected_or_first_available_variant.quantity_rule.min > product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
              assign quantity_rule_soldout = true
            endif
          -%}
          <button id = "ProductSubmitButton-{{ section_id }}" type="submit" name="add" class="ajax-cart-btn" {% if product.selected_or_first_available_variant.available == false or quantity_rule_soldout %} disabled {% endif %}>
            <span class="cart-title">
              {%- if product.selected_or_first_available_variant.available == false or quantity_rule_soldout -%}
                {{ 'products.product.sold_out' | t }}
              {%- else -%}
                {{ 'products.product.add_to_cart' | t }}
              {%- endif -%}
            </span>
            <div class="ajax-loader hidden">
             <span class="spinner-border"></span>
            </div>
          </button>
          {%- if block.settings.show_dynamic_checkout -%}
            {{ form | payment_button }}
          {%- endif -%}
        </div>
      {%- endform -%}
    </product-form>
  {%- else -%}
    <div class="product-form">
      <div class="pr-form-button form">
        <button type="submit" name="add" class="" disabled>
          {{ 'products.product.sold_out' | t }}
        </button>
      </div>
    </div>
  {%- endif -%}
</div>
<style>
.product_details_info .pr-form-button {
  display: flex;
  flex-wrap: wrap;
  margin: -15px 0 0 -15px;
  padding-top: 30px;
}
.product_details_info .pr-form-button .ajax-cart-btn {
  width: calc(50% - 15px);
  margin: 15px 0 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 3px;
  background-color: var(--color-primary);
}
.product_details_info .pr-form-button .ajax-cart-btn:hover {
  background-color: var(--color-secondary);
}
.product_details_info .pr-form-button .ajax-cart-btn .ajax-loader{
  width: 15px;
  height: 15px;
  display: none;
  align-items: center;
  justify-content: center;
}
.product_details_info .pr-form-button .ajax-cart-btn.loading .cart-title{ 
  display: none;
}
.product_details_info .pr-form-button .ajax-cart-btn.loading .ajax-loader {
  display: flex;
}
.product_details_info .pr-form-button .ajax-cart-btn .ajax-loader svg {
  fill: #fff;
}
.product_details_info .pr-form-button .shopify-payment-button {
  width: calc(50% - 15px);
  margin: 15px 0 0 15px;
}
.product_details_info .pr-form-button .shopify-payment-button button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-secondary);
  color: #fff;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
}
.product_details_info .pr-form-button .shopify-payment-button button:hover {
  background-color: var(--color-primary);
}
.product_details_info .pr-form-button .shopify-payment-button .shopify-payment-button__more-options {
  display: none;
}
</style>