<ul class="main-menu">
  {% for link in linklists[section.settings.main_menu_selected].links %}
  {% assign child_list_handle = link.title | handleize %}
  {% if linklists[child_list_handle].links != '' %}
  <li class="menu-link parant">
    <a class="link-title" href="{{ link.url }}">
      <span>{{ link.title }}</span>
      <i class="fa fa-angle-down"></i>
    </a>
    <a data-bs-toggle="collapse" href="#collapse-{{ link.title | handleize }}" class="link-title link-title-lg">
      <span>{{ link.title }}</span>
      <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-submenu collapse" id="collapse-{{ link.title | handleize }}">
      {% for childlink in linklists[child_list_handle].links %}
      {% assign grand_childlink_handle = childlink.title | handle %}
      {% if linklists[grand_childlink_handle] and linklists[grand_childlink_handle].links.size > 0 %}
      <li class="megamenu-li parant">
        <a href="{{ childlink.url }}" class="sublink-url">
          <span>{{ childlink.title }}</span>
          <i class="fa fa-angle-down"></i>
        </a>
        <a data-bs-toggle="collapse" href="#collapse-{{ childlink.title | handleize }}" class="sublink-title">
          <span>{{ childlink.title }}</span>
          <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-supmenu collapse" id="collapse-{{ childlink.title | handleize }}">
          {% for grand_childlink_handle in linklists[grand_childlink_handle].links %}
          <li class="supmenu-li">
            <a href="{{ grand_childlink_handle.url }}" class="suplink-title">{{ grand_childlink_handle.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </li>

      {% else %}
      {% if childlink.type == "collection_link" and childlink.object.image %}
      {% if childlink.title == "bottom"  %}
      <div class="menu-banner {{ childlink.title | downcase }}">
        <a href="{{ childlink.url }}" class="banner-hover">
          <img src="{{ childlink.object.image | img_url: 'master' }}">
        </a>
      </div>
      {% else %}
      <li class="menu-banner">
        <a href="{{ childlink.url }}" class="banner-hover">
          <img src="{{ childlink.object.image | img_url: '560x350', crop: 'center' }}">
        </a>
        <a href="{{ childlink.url }}" class="menu-banner-title">
          <span>{{ childlink.title }}</span>
        </a>
      </li>
      {% endif %}
      {% else %}

      <li class="submenu-li parant{% if childlink.active %} active{% endif %}">
        <a href="{{ childlink.url }}" class="sublink-title">{{childlink.title}}</a>
      </li>

    {% endif %}
    {% endif %}
    {% endfor %}
    </ul>
  </li>
  {% else %}
  <li class="menu-link">
    <a href="{{ link.url }}" class="link-title">
      <span>{{link.title}}</span>
    </a>
    <a href="{{ link.url }}" class="link-title link-title-lg">
      <span>{{ link.title }}</span>
    </a>
  </li>
  {% endif %}
  {% endfor %}
</ul>
<script>
addEventListener('DOMContentLoaded', (event) => {
  $('.megamenu-li').parent('ul').addClass('mega-menu');
  $('.menu-banner').parent('ul').addClass('banner-menu');
  $('.submenu-li').parent('ul').addClass('sub-menu');
});
</script>