<section class="customer-page section-ptb">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="log-acc-page" id="CustomerLoginForm">
          <div class="acc-page">
            <div class="login">
              {% form 'reset_customer_password' %}
              {{ form.errors | default_errors }}
              <div class="login-form-container">
                <div class="title-text">
                  <h2>{{ 'customer.reset_password.title' | t }}</h2>
                  <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>
                </div>
                <ul class="fill-form">
                  <li class="log-email">
                    <label for="ResetPassword" class="hidden-label">{{ 'customer.reset_password.password' | t }}</label>
                    <input type="password" value="" name="customer[password]" id="ResetPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.reset_password.password' | t }}" required>
                  </li>
                  <li class="log-pwd">
                    <label for="PasswordConfirmation" class="hidden-label">{{ 'customer.reset_password.password_confirm' | t }}</label>
                    <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="input-full{% if form.errors contains 'password_confirmation' %} error{% endif %}" placeholder="{{ 'customer.reset_password.password_confirm' | t }}" required>
                  </li>
                  <li class="form-toggle-btn">
                    <div class="form-action-button">
                      <button type="submit" class="button-style1">{{ 'customer.reset_password.submit' | t }}</button>
                    </div>
                  </li>
                </ul>
              </div>
              {% endform %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>