<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies {% if settings.enable_box %}box-layout {% endif %}" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <!-- Basic and Helper page needs -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  {%- assign header_font = settings.header_font_handle -%}
  {%- assign other_font = settings.other_font_handle -%}
  {%- assign body_font = settings.body_font_handle -%}
  {%- assign body_font_bolder = body_font | font_modify: 'weight', 'bolder' -%}
  {%- assign body_font_bold = body_font | font_modify: 'weight', 'bold' -%}
  {%- assign body_font_italic = body_font | font_modify: 'style', 'italic' -%}
  {%- assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic' -%}
  <link rel="canonical" href="{{ canonical_url }}">
  <script src="https://kit.fontawesome.com/2bd7399a6c.js" crossorigin="anonymous"></script>

  {%- if settings.favicon != blank -%}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}

  <!-- Title and description -->
  {% capture seo_title %}
  {{ page_title }}
  {% if current_tags %}
  {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
  {% endif %}
  {% if current_page != 1 %}
  &ndash; {{ 'general.meta.page' | t: page: current_page }}
  {% endif %}
  {% unless page_title contains shop.name %}
  &ndash; {{ shop.name }}
  {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  <!-- Helpers -->
  {% include 'social-meta-tags' %}

  <!-- CSS -->
  <style>*,::after,::before{box-sizing:border-box}body{font-family: var(--font-stack-body);font-weight: var(--font-weight-body);font-style: var(--font-style-body);}h1,h2,h3,h4,h5,h6{font-family: var(--font-stack-header);font-weight: var(--font-weight-header);font-style: var(--font-style-header);}
  {{ header_font | font_face: font_display: 'swap' }}
  {{ body_font | font_face: font_display: 'swap' }}
  {{ body_font_bolder | font_face: font_display: 'swap' }}
  {{ body_font_bold | font_face: font_display: 'swap' }}
  {{ body_font_italic | font_face: font_display: 'swap' }}
  {{ body_font_bold_italic | font_face: font_display: 'swap' }}
  {{ other_font | font_face: font_display: 'swap' }}
  </style>
  
  {%- include 'header-css' -%}

  <!-- Header hook for plugins -->
  {{ content_for_header }}
  <!-- JS -->
  <script type="text/javascript" src="{{ 'plugins.js' | asset_url }}" defer></script>
  {%- include 'header-js' -%}

  {% if template contains 'customers' or 'cart' %}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}
</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template.name | handle }}">
  {% include 'slow-window' %}
  {%- if template == 'index' and settings.newsletter_popup_enable -%}
  {% include 'newsletter-popup' %}
  {%- endif -%}
  {%- if settings.cart_type == 'drawer' -%}
  {%- render 'cart-drawer' -%}
  {%- endif -%}
  <script src="{{ 'product.js' | asset_url }}" defer="defer"></script>
  {%- if settings.topbar_notification_enable -%}
  {% include 'top-nocification-bar' %}
  {%- endif -%}

  {% section 'header' %}
  {%- if template != 'index' -%}
  {% include 'breadcrumb-banner' %}
  {%- endif -%}

  <main role="main">
    {{ content_for_layout }}
  </main>
  <div class="mm-fullscreen-bg"></div>
  {% section 'footer' %}
  {% section 'copyright' %}
  <!-- Necessary JS -->
  {%- if settings.wishlist_enable -%}
  <script type="text/javascript" src="{{ 'wishlist.js' | asset_url }}" defer></script>
  {% endif %}
  {% include 'ajax-search-bar' %}
  <script type="text/javascript">
    window.addEventListener('load', (event) => {
    {%- if settings.wishlist_enable -%}
    /* Ajax Wishlist */
      $(".action-wishlist").on('click', function(){
        $(this).addClass("loading-wishlist adding-wishlist");
        setTimeout(function () {
          $(".action-wishlist").removeClass("loading-wishlist");
        },1000);
        setTimeout(function () {
          $(".adding-wishlist").removeClass("adding-wishlist");
        },2000);
      });
    {%- endif -%}
    (function() {
        Wishlist.init();
      }());
    });

      {%- if settings.google_analytic_enable -%}
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ settings.google_tracking_id }}', 'auto');
      ga('send', 'pageview');
      {%- endif -%}

      window.shopUrl = '{{ shop.url }}';
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
          cart_change_url: '{{ routes.cart_change_url }}',
          cart_update_url: '{{ routes.cart_update_url }}',
          cart_url: '{{ routes.cart_url }}',
          predictive_search_url: '{{ routes.predictive_search_url }}'
      };
      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`
      }
       window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
        unavailable_with_option: `{{ 'products.product.value_unavailable' | t: option_value: '[value]' }}`,
      }
    </script>
  
    <div id="scrollToTopButton">
      <i class="fa fa-angle-double-up"></i>
    </div>

{% render 'recurpay' %}
{% render 'recurpay-cart' %}
</body>
</html>
