<section class="product-area">
  <div class="container">
    <div class="section-capture">
      <div class="section-title">
        {% if section.settings.section_title !='' %}
        <h2>{{ section.settings.section_title }}</h2>
        {% endif %}
      </div>
      <div class="tab">
        <ul class="nav nav-tabs" role="tablist">
          {% for block in section.blocks %}
          {% case block.type %}
          {% when 'product_tab' %}
          {% assign category_product = collections[block.settings.tab_product] %}
          <li role="presentation">
            <a class="{% if forloop.first == true %}active show{% endif %}" role="tab" data-bs-toggle="tab" href="#tab-{{ block.id }}">{{ category_product.title }}</a>
          </li>
          {% endcase %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="tab">
      <div class="tab-content tabs">
        {% for block in section.blocks %}
        {% case block.type %}
        {% when 'product_tab' %}
        <div class="tab-pane fade{% if forloop.first == true %} active show{% endif %}" id="tab-{{ block.id }}" role="tabpanel">
          <div class="pro-tab-slider swiper" id="pro-tab-{{ block.id }}">
            <div class="swiper-wrapper">
              {% for product in collections[block.settings.tab_product].products %}
              <div class="swiper-slide">
                {% include 'product-grid-item' %}
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="swiper-buttons">
            <div class="button-next"></div>
            <div class="button-prev"></div>
          </div>
        </div>
        <script>
          addEventListener('DOMContentLoaded', (event) => {
          var swiper = new Swiper('#pro-tab-{{ block.id }}', {
            slidesPerView: 5,
            grid: {
              rows: 1,
              fill: 'row' | 'column',
            },
            spaceBetween: 30,
            observer: true,
            observeParents: true,
            watchSlidesProgress: true,
            {%- if settings.enable_rtl -%}
            rtl: true,
            {%- endif -%}
            navigation: {
              nextEl: '.button-next',
              prevEl: '.button-prev',
            },
            breakpoints: {
               0: {
                slidesPerView: 2,
                spaceBetween: 15,
                grid: {
                  rows: 1,
                  fill: 'row' | 'column',
                }
              },
              600: {
                slidesPerView: 3,
                spaceBetween: 15,
                grid: {
                  rows: 1,
                  fill: 'row' | 'column',
                }
              },
              991: {
                slidesPerView: 4,
                spaceBetween: 30,
                grid: {
                  rows: 1,
                  fill: 'row' | 'column',
                }
              },
              1199: {
                slidesPerView: 5,
                spaceBetween: 30,
                grid: {
                  rows: 1,
                  fill: 'row' | 'column',
                }
              },
            },
          });
          });
        </script>
        {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Product Tab Slider",
  "settings": [
  {
      "type": "header",
      "content": "Section Padding"
  },
  {
      "type": "range",
      "id": "section_padding_top",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
  },
  {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
  },
  {
      "type" : "paragraph",
      "content" : "Mobile"
  },
  {
      "type": "range",
      "id": "section_padding_top_xs",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 50
  },
  {
      "type": "range",
      "id": "section_padding_bottom_xs",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 50
  },
  {
    "type": "header",
    "content": "Section Heading"
  },
  {
    "type": "text",
    "id": "section_title",
    "label": "Section Title",
    "default": "Featured Products"
  },
  {
    "type": "text",
    "id": "featured_product_limit_handle",
    "label": "Product Limit",
    "default": "10"
  },
  {
    "type": "color",
    "id": "pro_tab_bg_color", 
    "label": "Background Color",
    "default":   "#fff"
  }
  ],
  "blocks" : [
  {
    "type" : "product_tab",
    "name" : "Our Product",
    "limit" : 4,
    "settings" : [
    {
      "type" : "collection",
      "id" : "tab_product",
      "label" : "Tab With Product"
    }
    ]
  }
  ],
  "presets": [
  {
    "name": "Featured Product Tab Slider"
  }
  ]
}
{% endschema %}
<style>
  .product-area {
    padding-top: {{ section.settings.section_padding_top }}px;
    padding-bottom: {{ section.settings.section_padding_bottom }}px;
  }
  @media(max-width: 1199px) {
    .product-area {
        padding-top: {{ section.settings.section_padding_top_xs }}px;
        padding-bottom: {{ section.settings.section_padding_bottom_xs }}px;
    }
  }

  .product-area ul.nav-tabs{
    margin-top: 30px;
  }
  @media(max-width: 1199px){
    .product-area ul.nav-tabs{
      margin-top: 15px;
    }
  }

  /*slider arrow*/
  .product-area .tab-content{
    position: relative;
  }
  .product-area .tab-content .button-prev,
  .product-area .tab-content .button-next{
    position: absolute;
    z-index: 1;
    bottom: 50%;
    top: auto;
    margin: 0;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
  } 
  .product-area .tab-content .button-prev{
      left: -15px;
  }
  .product-area .tab-content .button-next{
      right: -15px;
  }
  .product-area .tab-content .button-prev:after{
      content: "\f104";
      font: normal normal normal 20px/1 FontAwesome;
  }
  .product-area .tab-content .button-next:after{
      content: "\f105";
      font: normal normal normal 20px/1 FontAwesome;
  }
  .product-area .tab-content .button-next:hover,
  .product-area .tab-content .button-prev:hover{
      color: var(--color-primary);
      background-color: #fff;
      box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 10%);
  }
  @media(max-width: 767px){
    .product-area .tab-content .swiper-buttons{
      display: none;
    }
  }
</style>