<section class="footer-top-area" {% if section.settings.footer_bg_img_enable %}style="background-image: url('{% if section.settings.footer_bg_img %}{{ section.settings.footer_bg_img | img_url: 'master' }}{% else %}https://via.placeholder.com/1920x450{% endif %}');"{% endif %} data-section-id="{{ section.id }}" data-section-type="app-section-feed" data-section-settings='{{ section_settings }}'>
  <div class="container">
    <div class="footer-list-wrap">
      <ul class="footer-list">
        <li class="ftlink-li footer-info">
          <div class="logo">
            {%- include 'company-logo-footer' -%}
          </div>
          <div class="logo-desc">
            <p>{{ section.settings.logo_description }}</p>
          </div>
          {%- include 'social-midea' -%}
        </li>
        {% for block in section.blocks %}
        <li class="ftlink-li link-list">
          <h2 class="ft-title">{{ block.settings.footer_menu_title }}</h2>
          <a data-bs-toggle="collapse" href="#collapse-{{ block.settings.footer_menu_title | handleize }}" class="ft-title">
            <span>{{ block.settings.footer_menu_title }}</span>
            <i class="ti-plus"></i>
          </a>
          <ul class="footer-sublist collapse" id="collapse-{{ block.settings.footer_menu_title | handleize }}">
            {% assign footer_menu = block.settings.footer_menu_handle %}
            {% for link in linklists[footer_menu].links %}
            {% if linklists[footer_menu].links != '' %}
            <li class="ftsublink-li">
              <a href="{{ link.url }}" class="ft-sublink">{{ link.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
        <li class="ftlink-li newsletter-li">
          <h2 class="ft-title">{{ section.settings.footer_newsletter_title }}</h2>
          <p class="ft-description">{{ section.settings.footer_newsletter_des }}</p>
          {%- include 'newsletter' -%}
        </li>
      </ul>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Footer",
  "settings": [
  {
      "type": "header",
      "content": "Section Padding"
  },
  {
      "type": "range",
      "id": "section_padding_top",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
  },
  {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
  },
  {
      "type" : "paragraph",
      "content" : "Mobile"
  },
  {
      "type": "range",
      "id": "section_padding_top_xs",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 50
  },
  {
      "type": "range",
      "id": "section_padding_bottom_xs",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 50
  },
  {
    "type": "image_picker",
    "id": "footer_bg_img",
    "label": "Image",
    "info": "Recommended Size: 1920 x 770px"
  },
  {
    "type": "checkbox",
    "id": "footer_bg_img_enable",
    "label": "Show Background Image",
    "default": false
  },
  {
    "type": "color",
    "id": "footer_bg_color",
    "label": "Background Color",
    "default": "#fff"
  },
  {
    "type": "text",
    "id": "logo_description",
    "label": "Logo Description",
    "default": "Lorem Ipsum is simply dummy of the printing and typesetting industry lorem Ipsum"
  },
  {
    "type": "header",
    "content": "Newsletter"
  },
  {
    "type": "text",
    "id": "footer_newsletter_title",
    "label": "Newsletter Title",
    "default": "Subscribe"
  },
  {
    "type": "text",
    "id": "footer_newsletter_des",
    "label": "Newsletter Description",
    "default": "Subscribe to our newsletter to receive fashion store news on new update."
  }
  ],
  "blocks":[
  {
    "type": "footer_menu",
    "name": "Menu",
    "limit": 3,
    "settings": [
    {
      "type": "text",
      "id": "footer_menu_title",
      "label": "Menu Title",
      "default": "Menu Title"
    },
    {
      "type": "link_list",
      "id": "footer_menu_handle",
      "label": "Select Menu"
    }
    ]
  }
  ],
  "presets":[
  {
    "name": "Footer",
    "category": "Footer"
  }
  ]
}
{% endschema %}
<style>
.footer-top-area{
  padding-top: {{ section.settings.section_padding_top }}px;
  padding-bottom: {{ section.settings.section_padding_bottom }}px;
  {% if section.settings.footer_bg_img_enable %}
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  {% else %}
  background-color: {{ section.settings.footer_bg_color }};
  {% endif %}
}
@media(max-width: 1199px) {
  .footer-top-area{
      padding-top: {{ section.settings.section_padding_top_xs }}px;
      padding-bottom: {{ section.settings.section_padding_bottom_xs }}px;
  }
}

.footer-list-wrap ul.footer-list{
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  {% if settings.enable_rtl %}
  margin-right: -30px;
  {% else %}
  margin-left: -30px;
  {% endif %}
}
.footer-list-wrap ul.footer-list li.ftlink-li{
  {% if settings.enable_rtl %}
  margin-right: 30px;
  {% else %}
  margin-left: 30px;
  {% endif %}
}
.footer-list-wrap ul.footer-list li.ftlink-li.link-list{
  width: calc(16.66% - 30px);
}
.footer-list-wrap ul.footer-list li.ftlink-li.footer-info,
.footer-list-wrap ul.footer-list li.ftlink-li.newsletter-li{
    width: calc(25% - 30px);
}
.footer-list-wrap ul.footer-list li.ftlink-li .logo-desc {
  margin-top: 30px;
}
.footer-list-wrap ul.footer-list li.ftlink-li .logo-desc p{
  font-size: 14px;
  width: 70%;
}
.footer-list-wrap ul.footer-list li.ftlink-li .footer-social{
  margin-top: 24px;
}
.footer-list-wrap ul.footer-list li.ftlink-li.footer-info .logo h2,
.footer-list-wrap ul.footer-list li.ftlink-li .ft-title{
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
}
.footer-list-wrap ul.footer-list li.ftlink-li a.ft-title{
  display: none;
}
.footer-list-wrap ul.footer-list li.ftlink-li .footer-sublist.collapse:not(.show){
  display: block;
}
.footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist{
  margin-top: 30px;
}
.footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist li.ftsublink-li,
.footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist li.ftcon-li{
  margin-top: 13px;
}

.footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist li.ftsublink-li:first-child{
  margin-top: 0px;
}
.footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist li.ftsublink-li a{
  color: #6f6f6f;
  font-size: 14px;
}
.footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist li.ftsublink-li a:hover{
  color: {{ settings.color_primary }};
}
.footer-list-wrap ul.footer-list li.ftlink-li.insta-li h2.ft-title{
  display: block;
}
.footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist .insta-wrap{
  margin-top: 23px;
}
.footer-list-wrap ul.footer-list li.ftlink-li.newsletter-li p.ft-description {
  font-size: 14px;
  margin-top: 30px;
}
.footer-list-wrap ul.footer-list li.ftlink-li.newsletter-li .news-content{
  margin-top: 30px;
}
.footer-list-wrap ul.footer-list li.ftlink-li.newsletter-li .subscribe-block {
  position: relative;
}
.footer-list-wrap ul.footer-list li.ftlink-li.newsletter-li .subscribe-block input{
  width: 100%;
  color: #6f6f6f;
  font-size: 14px;
  padding: 15px;
  border: none;
  background-color: #fff;
}

.footer-list-wrap ul.footer-list li.ftlink-li.newsletter-li .subscribe-block button{
  font-size: 20px;
  line-height: 1;
  position: absolute;
  {% if settings.enable_rtl %}
  left: 15px;
  {% else %}
  right: 15px;
  {% endif %}
  bottom: 50%;
  transform: translateY(50%);
}
.footer-list-wrap ul.footer-list li.ftlink-li.newsletter-li .subscribe-block button:hover{
  color: {{ settings.color_primary }};
}
.footer-list-wrap .social-icon{
  margin-top: 30px;
}

@media (max-width : 1199px){
  .footer-list-wrap .social-icon,
  .footer-list-wrap ul.footer-list li.ftlink-li .logo-desc{
    margin-top: 15px;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li .logo-desc p{
    width: 100%;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li .ft-title{
    font-size: 16px;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist li.ftsublink-li a{
    font-size: 16px;
  }
}
@media (max-width : 991px){
  .footer-list-wrap ul.footer-list li.ftlink-li.footer-info{
    margin-bottom: 30px;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li.footer-info,
  .footer-list-wrap ul.footer-list li.ftlink-li.newsletter-li,
  .footer-list-wrap ul.footer-list li.ftlink-li.link-list,
  .footer-list-wrap ul.footer-list li.ftlink-li{
    width: calc(100% - 30px);
  }
  .footer-list-wrap ul.footer-list li.ftlink-li .footer-social{
    margin: 20px 0;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li h2.ft-title{
    display: none;
    text-transform: uppercase;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li.newsletter-li {
    margin-top: 30px;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li.newsletter-li h2.ft-title{
    display: block;
    font-size: 16px;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li a.ft-title{
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  .footer-list-wrap ul.footer-list li.ftlink-li a.ft-title i{
    font-size: 14px;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li a.ft-title[aria-expanded="true"] i:before{
    content: "\e622";
  }
  .footer-list-wrap ul.footer-list li.ftlink-li .footer-sublist{
    {% if settings.enable_rtl %}
    text-align: left;
    {% else %}
    text-align: left;
    {% endif %}
  }
  .footer-list-wrap ul.footer-list li.ftlink-li .footer-sublist.collapse:not(.show){
    display: none;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist{
    margin-top: 15px;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist li.ftsublink-li a{
    font-size: 14px;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li.insta-li ul.footer-sublist{
    margin-top: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
  }
  .footer-list-wrap ul.footer-list li.ftlink-li.newsletter-li .subscribe-block input{
    font-size: 14px;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li.newsletter-li p.ft-description{
    margin-top: 15px;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li.newsletter-li .news-content{
    margin-top: 15px;
  }
}
@media (max-width : 767px){
  .footer-list-wrap ul.footer-list{
    {% if settings.enable_rtl %}
    margin-right: -15px;
    {% else %}
    margin-left: -15px;
    {% endif %}
  }
  .footer-list-wrap ul.footer-list li.ftlink-li.newsletter-li,
  .footer-list-wrap ul.footer-list li.ftlink-li.link-list,
  .footer-list-wrap ul.footer-list li.ftlink-li{
    width: calc(100% - 15px);
    {% if settings.enable_rtl %}
    margin-right: 15px;
    {% else %}
    margin-left: 15px;
    {% endif %}
  }
  .footer-list-wrap ul.footer-list li.ftlink-li.footer-info p{
    max-width: 100%;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li a.ft-title{
    font-size: 14px;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li.newsletter-li h2.ft-title{
    font-size: 14px;
  }
}
</style>