{%- if settings.cart_type == "drawer" -%}
{%- if template.name != "cart" -%}
<script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
{%- endif -%}
<header class="header header-main-area">
  <div class="header-area {% if section.settings.sitcky_switch %}header-sticky{% endif %}">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
          <div class="header-main">
            <div class="logo header-element">
              {%- include 'company-logo' -%}
            </div>
            <div class="header-element main-menu-area">
              <nav class="main-navigation navbar-expand-xl">
                <div class="box-header">
                  <button class="close-box" type="button"><i class="ion-close-round"></i></button>
                </div>
                {% include 'main-menu' %}
              </nav>
            </div>
            <div class="header-element right-block-box">
              <ul class="shop-element">
                <li class="toggler-wrap">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                    <i class="feather-menu"></i>
                  </button>
                </li>
                {% if section.settings.searchbar_checkbox %}
                <li class="search-wrap search-wrap-mobile">
                  <button type="button" class="search-mobile-btn" data-bs-toggle="modal" data-bs-target="#searchmodal">
                    <i class="icon-magnifier"></i>
                    <span class="search-title">{{ section.settings.search_title }}</span>
                  </button>
                </li>
                {% endif %}
                {% if section.settings.user_checkbox %}
                <li class="user-wrap ele-wrap">
                  <div class="st-user">
                    <a href="/account">
                      <i class="icon-user"></i>
                      {% if customer %}
                        <span class="account-title">{{ customer.name }}</span>
                      {% else %}
                        <span class="account-title">{{ section.settings.account_title }}</span>
                      {% endif %}
                    </a>
                  </div>
                </li>
                {% endif %}
                {% if settings.wishlist_enable %}
                <li class="wishlist-wrap ele-wrap">
                  {% include 'wishlist-button-2' %}
                </li>
                {% endif %}
                <li class="cart-wrap ele-wrap">
                  <div class="shopping-widget">
                    <div class="shopping-cart">
                      <a href="{{ routes.cart_url }}" class="cart-count" id="cart-icon-bubble">
                        <span class="counter-wrap">
                          <i class="icon-handbag"></i>
                          <div class="cart-count-bubble">
                            {%- if cart.item_count < 100 -%}
                            <span aria-hidden="true">{{ cart.item_count }}</span>
                            {%- endif -%}
                            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                          </div>
                        </span>
                        <span class="cart-title">{{ settings.cart_title }}</span>
                      </a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="menu-mobile">
  <div class="main-menu-area header-element">
    <nav class="main-navigation navbar-expand-xl">
      <div class="box-header">
        <button class="close-box" type="button"><i class="ion-close-round"></i></button>
      </div>
      {% include 'main-menu' %}
    </nav>
  </div>
</div>
{% include 'search-bar' %}
<!-- header-area end -->
<style>
  @media (max-width : 767px){
    .theme-logo img{
      max-width: 100%;
    }
  }
</style>
{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type" : "checkbox",
      "id" : "sitcky_switch",
      "label" : "Sticky header enable",
      "default" : true
    },
    {
      "type": "header",
      "content": "Header Settings"
    },
    {
      "type": "link_list",
      "id": "main_menu_selected",
      "label": "Main Menu",
      "default": "main-menu"
    },
    {
      "type" : "header",
      "content" : "Header Right Box"
    },
    {
      "type" : "checkbox",
      "id" : "searchbar_checkbox",
      "label" : "Enable Searchbar",
      "default" : true
    },
    {
      "type" : "checkbox",
      "id" : "user_checkbox",
      "label" : "Enable User Link",
      "default" : true
    },
    {
      "type" : "header",
      "content" : "Background Color"
    },
    {
      "type" : "color",
      "id" : "header_bgcolor",
      "label" : "Background Color",
      "default" : "#000"
    },
    {
      "type": "text",
      "id": "search_title",
      "label": "search title",
      "default": "search"
    },
    {
      "type": "text",
      "id": "account_title",
      "label": "account title",
      "default": "account"
    },
    {
      "type": "text",
      "id": "wishlist_title",
      "label": "wishlist title",
      "default": "wishlist"
    },
    {
      "type": "text",
      "id": "cart_title",
      "label": "cart title",
      "default": "cart"
    }
  ]
}
{% endschema %}
<style>
   .header-area .header-main-area {
    background-color: {{ section.settings.header_bgcolor }};
  }
  {%- if template == 'index' or template == 'product' or template == 'collection' -%}
  .header-area.is-sticky{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 8;
    width: 100%;
    box-shadow: 0 0 15px rgb(0 0 0 / 15%);
    -webkit-box-shadow: 0 0 15px rgb(0 0 0 / 15%);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    animation: smoothScroll 1s forwards;
  }
  @keyframes smoothScroll {
    0% {
      transform: translateY(-150px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  {%- endif -%}
</style>
