<section class="cart-body-total{% if cart == empty %} is-empty{% endif %}" id="main-cart-footer" data-id="{{ section.id }}">
  <div class="container">
  <div class="cart-footer">
    <div class="cart-actions accordion" id="accordionExample">
      <div class="cart-actions-header">
        <button class="" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true">
        <span class="icon">
          <i class="ti-pencil"></i>
        </span>
        {{ section.settings.note_heading }}
      </button>
      <button class="" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="true">
        <span class="icon">
          <i class="ti-truck"></i>
        </span>
        {{ section.settings.shipping_heading }}
      </button>
      <button class="coupon-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="true">
        <span class="icon">
          <i class="ti-ticket"></i>
        </span>
        {{ section.settings.coupon_heading }}
      </button>
      </div>

      {%- if settings.show_cart_note -%}
      <div class="collapse" id="collapse1" data-bs-parent="#accordionExample">
        <cart-note class="cart-note">
          <h6>{{ 'sections.cart.note' | t }}</h6>
          <textarea class="text-area" name="note" form="cart" id="Cart-note" placeholder="{{ 'sections.cart.note' | t }}" rows="5">{{ cart.note }}</textarea>
        </cart-note>
      </div>
      {%- endif -%}

      {%- if section.settings.shipping_calculator_enable -%}
      <div class="collapse" id="collapse2" data-bs-parent="#accordionExample">
        {%- include 'cart-shipping-calculator' -%}
      </div>
      {%- endif -%}

      {%- if section.settings.cart_discount_enable -%}
      <div class="collapse" id="collapse3" data-bs-parent="#accordionExample">
          <div class="proceed-to-discount">
            <h6>{{ section.settings.coupon_title }}</h6>
            <form action="/cart" method="post">
                <input type="text" id="input-discount" name="discount" placeholder="{{ section.settings.cart_discount_placeholder_text }}">
            </form>
          </div>
      </div>
      {%- endif -%}
    </div>
    <div class="cart-blocks">
      <div class="js-contents" {{ block.shopify_attributes }}>
        <div class="totals">
          <span>{{ 'sections.cart.subtotal' | t }}</span>
          <span>{{ cart.total_price | money_with_currency }}</span>
        </div>
        {%- if cart.cart_level_discount_applications.size > 0 -%}
          <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
            {%- for discount in cart.cart_level_discount_applications -%}
              <li class="discounts__discount discounts__discount--position">
                {{ discount.title }}
                (-{{ discount.total_allocated_amount | money }})
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
        <small class="tax-note caption-large rte">
          {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
            {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
          {%- elsif cart.taxes_included -%}
            {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
          {%- elsif shop.shipping_policy.body != blank -%}
            {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
          {%- else -%}
            {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
          {%- endif -%}
        </small>
      </div>
      <div class="checkout-btn" {{ block.shopify_attributes }}>
        <button type="submit" id="checkout" class="btn-style1" name="checkout" {% if cart == empty %} disabled {% endif %} form="cart">
          {{ 'sections.cart.checkout' | t }}
        </button>
      </div>
    </div>
  </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return msie > 0 || trident > 0;
    }

    if (!isIE()) return;
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function (event) {
      document.querySelector('#cart').submit();
    });
  });
</script>

{% schema %}
{
  "name": "Subtotal",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
  },
  {
      "type": "range",
      "id": "section_padding_top",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 0
  },
  {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
  },
  {
      "type" : "paragraph",
      "content" : "Mobile"
  },
  {
      "type": "range",
      "id": "section_padding_top_xs",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 0
  },
  {
      "type": "range",
      "id": "section_padding_bottom_xs",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 40
  },
    {
        "type": "text",
        "id": "note_heading",
        "label": "Note Title",
        "default": "Note"
    },
    {
        "type": "header",
        "content": "Shipping Calculator"
    },
    {
        "type": "text",
        "id": "shipping_heading",
        "label": "Shipping Title",
        "default": "Shipping"
    },
    {
        "type": "checkbox",
        "id": "shipping_calculator_enable",
        "label": "Show calculator enable",
        "default": true
    },
    {
        "type": "text",
        "id": "shipping_calculator_heading",
        "label": "Shipping Calculator Title",
        "default": "Shipping Charge"
    },
    {
        "type": "text",
        "id": "shipping_calculator_button_title",
        "label": "Shipping Calculator Button Title",
        "default": "Calculate shipping"
    },
    {
        "type": "header",
        "content": "Cart Discount Code"
    },
    {
        "type": "checkbox",
        "id": "cart_discount_enable",
        "label": "Show Discount enable",
        "default": true
    },
    {
        "type": "text",
        "id": "coupon_heading",
        "label": "Coupon Title",
        "default": "Coupon"
    },
    {
        "type": "text",
        "id": "coupon_title",
        "label": "Coupon Heading",
        "default": "Add a discount code"
    },
    {
        "type": "text",
        "id": "cart_discount_placeholder_text",
        "label": "Discount Placeholder Text",
        "default": "Discount code"
    }
  ]
}
{% endschema %}
<style type="text/css">
  .cart-body-total {
    padding-top: {{ section.settings.section_padding_top }}px;
      padding-bottom: {{ section.settings.section_padding_bottom }}px;
  }
  @media(max-width: 1199px) {
      .cart-body-total {
          padding-top: {{ section.settings.section_padding_top_xs }}px;
          padding-bottom: {{ section.settings.section_padding_bottom_xs }}px;
      }
  }
</style>