<div class="news-letter"> 
  <div class="container">
  <div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-12">
    <div class="newsletter-block">

      <div class="section-title">
        {% if section.settings.section_sub_title !='' %}
          <span class="sub-title">{{ section.settings.section_sub_title }}</span>
        {% endif %}
        {% if section.settings.newsletter_title != '' %}
        <h2 class="newstitle-color">{{ section.settings.newsletter_title }}</h2>
        {% endif %}
      </div>
      <div class="subscribe-content">
        {% form 'customer' %}
        {{ form.errors | default_errors }}
        {% if form.posted_successfully? %}
          <p class="form--success newstext-color text-success">{{ section.settings.thanks_title }}</p>
          <input type="hidden" name="contact[tags]" value="newsletter">
          <div class="subscribe-block">
            <input type="email" name="contact[email]" class="email form-control mail text-medium" id="E-mail" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ section.settings.email_placeholder }}" autocapitalize="off">
          <button type="submit" class="" name="commit" id="Subscribe">{{ section.settings.button_title }}</button>
          </div>
        {% else %}
          <input type="hidden" name="contact[tags]" value="newsletter">
          <div class="subscribe-block">
            <input type="email" name="contact[email]" class="email form-control mail text-medium" id="E-mail" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ section.settings.email_placeholder }}" autocapitalize="off">
          <button type="submit" class="" name="commit" id="Subscribe">{{ section.settings.button_title }}</button>
          </div>
        {% endif %}
        {% endform %}
      </div>
      </div>
      </div>
      </div>
  </div>
</div>
{% schema %}
{
  "name": "Newsletter",
  "settings": [
  {
    "type" : "header",
    "content" : "Section Padding"
  },
  {
    "type": "range",
    "id": "npadding_top",
    "label": "Section Padding Top",
    "min": 0,
    "max": 200,
    "step": 2,
    "unit": "px",
    "default": 50
  },
  {
    "type": "range",
    "id": "npadding_bottom",
    "label": "Section Padding Bottom",
    "min": 0,
    "max": 200,
    "step": 2,
    "unit": "px",
    "default": 50
  },
  {
    "type" : "checkbox",
    "id" : "with_bg_img",
    "label" : "With Backgorund Image",
    "default" : false
  },
  {
    "type" : "checkbox",
    "id" : "with_bg_color",
    "label" : "With Backgorund Color",
    "default" : false
  },
  {
    "type" : "color",
    "id" : "n_bgcolor",
    "label" : "Background Color",
    "default" : "#fff"
  },
  {
     "type": "image_picker",
      "id": "news_bg_img",
      "label": "Newsletter Background Image",
      "info": "Recommended Size: 1920 x 450px"
  },
  {
      "type" : "header",
      "content" : "Section title"
    },
  {
      "type": "text",
      "id": "section_sub_title",
      "label": "Section Sub Title",
      "default": "Recent News"
    },
  {
    "type": "text",
    "id": "newsletter_title",
    "label": "Newsletter Title",
    "default": "Get The Latest Deals"
  },
  {
    "type" : "color",
    "id" : "title_color",
    "label" : "Title Color",
    "default" : "#fff"
  },
  {
    "type" : "color",
    "id" : "news_text_color",
    "label" : "All Text Color",
    "default" : "#fff"
  },
  {
    "type": "text",
    "id": "thanks_title",
    "label": "Thanks Title",
    "default": "THANK YOU FOR SUBSCRIBING!"
  },
    {
    "type": "text",
    "id": "email_placeholder",
    "label": "Email Placeholder",
    "default": "Enter Your Email Address"
  },
  {
    "type": "text",
    "id": "button_title",
    "label": "Button Title",
    "default": "Subscribe"
  }
  ],
  "presets": [
  {
    "name": "Newsletter"
  }
  ]
}
{% endschema %}
<style>
  .news-letter{
    {% if section.settings.with_bg_color %}
    background-color: {{ section.settings.n_bgcolor }};
    {% endif %}
    {% if section.settings.with_bg_img %}
    background-image: url('{% if section.settings.news_bg_img %}{{ section.settings.news_bg_img | img_url: 'master' }}{% else %}https://via.placeholder.com/1920x450{% endif %}');
    {% endif %}
    padding-top:{{ section.settings.npadding_top }}px;
    padding-bottom:{{ section.settings.npadding_bottom }}px;
  }
  .newstitle-color{
    color: {{ section.settings.title_color }};
  }
  .newstext-color{
    color: {{ section.settings.news_text_color }};
  }
  @media (max-width: 767px){
    .news-letter {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
</style>