<div class="our-service-area">
  <div class="container">
    <ul class="single-service">
      {% for block in section.blocks %}
      {% case block.type %}
      {% when 'our_services' %}
      <li class="service-content">
        <div class="main-block">
          
            <a class="icon-block" href="javascript:void(0)">
            {% if block.settings.service_img %}
            <span><img class="img-fluid" src="{{ block.settings.service_img | img_url: '60x60', crop: 'center' }}"></span>
            {% else %}
            {{ block.settings.service_icon }}
            {% endif %}
            </a>
          
          <div class="service-text">
            {%if block.settings.service_title != '' %}
            <h6>{{ block.settings.service_title }}</h6>
            {% endif %} 
          </div>
        </div>
      </li>
      {% endcase %}
      {% endfor %}
    </ul>
  </div>
</div>
{% schema %}
{
  "name": "Our Service",
  "settings": [
  {
      "type": "header",
      "content": "Section Padding"
  },
  {
      "type": "range",
      "id": "section_padding_top",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
  },
  {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
  },
  {
      "type" : "paragraph",
      "content" : "Mobile"
  },
  {
      "type": "range",
      "id": "section_padding_top_xs",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 50
  },
  {
      "type": "range",
      "id": "section_padding_bottom_xs",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 50
  },
    {
      "type" : "color",
      "id" : "our_ser_bgcolor",
      "label" : "Background Color",
      "default" : "#fff"
    }
  ],
  "blocks":[
  {
    "type": "our_services",
    "name": "Our Services",
    "settings": [
    {
      "type": "image_picker",
      "id": "service_img",
      "label": "Service Image",
      "info": "Recommended Size: 512px x 512px"
    },
    {
      "type": "textarea",
      "id": "service_icon",
      "label": "Icon Class",
      "info": "https://feathericons.com"
    },
    {
      "type": "text",
      "id": "service_title",
      "label": "Service Description",
      "default": "Free Home Delivary."
    }
    ]
  }
  ],
  "presets":[
  {
    "name": "Our Service",
    "category": "9. Our Service"
  }
  ]
}
{% endschema %}
<style>
.our-service-area {
  background-color: {{ section.settings.our_ser_bgcolor }};
  padding-top: {{ section.settings.section_padding_top }}px;
  padding-bottom: {{ section.settings.section_padding_bottom }}px;
}
@media(max-width: 1199px) {
  .our-service-area {
    padding-top: {{ section.settings.section_padding_top_xs }}px;
    padding-bottom: {{ section.settings.section_padding_bottom_xs }}px;
  }
}

.our-service-area ul.single-service {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: -30px 0 0 -30px;
}
.our-service-area ul.single-service li.service-content{
  width: calc(25% - 30px);
  margin: 30px 0 0 30px;
}
.our-service-area ul.single-service li .main-block {
  display: flex;
  align-items: center;
  width: 100%;
}
.our-service-area ul.single-service li .main-block .icon-block {
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}
.our-service-area ul.single-service li:hover .main-block .icon-block {
  -moz-transform: translate3d(0,-3px,0);
  -o-transform: translate3d(0,-3px,0);
  -ms-transform: translate3d(0,-3px,0);
  -webkit-transform: translate3d(0,-3px,0);
  transform: translate3d(0,-3px,0);
}
.our-service-area ul.single-service li .main-block .icon-block svg{
  height: 40px;
  width: 40px;
}
.our-service-area ul.single-service li a svg{
  color: var(--color-primary);
}
.our-service-area ul.single-service li .service-text {
  {% if settings.enable_rtl %}
  margin-right: 15px;
  {% else %}
  margin-left: 15px;
  {% endif %}
}
.our-service-area ul.single-service li .service-text h6 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
}
@media(max-width: 1199px){
  .our-service-area ul.single-service li .service-text h6{
    font-size: 14px;
  }
  .our-service-area ul.single-service li .main-block .icon-block svg{
    height: 30px;
    width: 30px;
  }
}
@media(max-width: 991px){
  .our-service-area ul.single-service {
    margin: -30px 0 0 -15px;
  }
  .our-service-area ul.single-service li.service-content{
    width: calc(50% - 15px);
    margin: 30px 0 0 15px;
  }
}
@media(max-width: 600px){
  .our-service-area ul.single-service {
    margin: -30px 0 0 0;
  }
  .our-service-area ul.single-service li.service-content{
    width: 100%;
    margin: 30px 0 0 0;
  }
}

</style>