{%- assign current_variant = product.selected_or_first_available_variant -%}
<section class="main-content-wrap product-details-page" id="MainProduct-{{ section.id }}" data-section="{{ section.id }}">
{% if settings.enable_rtl %}
{{ 'product-template-rtl.css' | asset_url | stylesheet_tag }}
{% else %}
{{ 'product-template.css' | asset_url | stylesheet_tag }}
{% endif %}
  <div class="product-details">
    <div class="container">
      <div class="grid-wrap {% if section.settings.service_enable %} service-wrap{% endif %} ">
        <div class="grid-wrapper pro-wrapper">
          <div class="detail-wrap">
            <div class="product_details">
              <div class="product_detail_img">
                <!-- product_big_images start -->
                <div class="product_img_top">
                  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
                  <a class="product-img" href="javascript:void(0)">
                    {% if section.settings.zoom_enable %}
                    <figure class="zoom" onmousemove="zoom(event)" style="background-image: url({{ featured_image | img_url: '750x810' }}" alt="{{ featured_image.alt | escape }})">
                      <img id="zoom_mw-{{ product.id }}" class="product-zoom img-fluid" src="{{ featured_image | img_url: '1080x' }}" alt="{{ featured_image.alt | escape }}">
                    </figure>
                    {% else %}
                      <img id="zoom_mw-{{ product.id }}" class="product-zoom img-fluid" src="{{ featured_image | img_url: '1080x' }}" alt="{{ featured_image.alt | escape }}">
                    {% endif %}
                  </a>
                </div>
                <!-- product_big_images end -->
                <!-- Start Small images -->
                <ul class="owl-carousel owl-theme pro-detail-slider" id="pro-detail-slider-{{ product.id }}">
                  {% for image in product.images %}
                  <li id="gallery_01" role="presentation" class="item {% if forloop.fast %}active{% endif %}">
                    <a class="product-single__thumbnail {% if forloop.first %}active{% endif %}" href="{{ image.src | img_url: '1024x1024' }}" data-image="{{ image.src | img_url: '1024x1024' }}" data-zoom-image="{{ image.src | img_url: '1024x1024' }}" data-image-id="{{ image.id }}">
                      <img src="{{ image.src | img_url: '300x300' }}" alt="{{ image.alt | escape }}" class="img-fluid">
                    </a>
                  </li>
                  {% endfor %}
                </ul>
                <!-- End Small images -->
              </div>
            </div>
            <div class="product_details detail-info">
              <product-info id="ProductInfo-{{ section.id }}" data-section="{{ section.id }}" data-url="{{ product.url }}" class="product__info-container">
                {%- assign product_form_id = 'product-form-' | append: section.id -%}
                <div class="product_details_info">
                  {%- for block in section.blocks -%}
                  {%- case block.type -%}
                  {%- when '@app' -%}
                  {% render block %}
                  {%- when 'text' -%}
                  {{- block.settings.text -}}
                  {%- when 'title_wrap' -%}
                  <div class="product-title">
                    <h2>{{ product.title }}</h2>
                  </div>
                  {%- when 'product_ratting' -%}
                  <div class="product-ratting">
                    <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                  </div>
                  {%- when 'inventory' -%}
                  <div class="product-inventory{% if product.selected_or_first_available_variant.inventory_management != 'shopify' %} hidden{% endif %}" {{ block.shopify_attributes }} id="Inventory-{{ section.id }}" role="status">
                    <h6>{{ block.settings.availability_title }}</h6>
                    {%- if product.selected_or_first_available_variant.inventory_management == 'shopify' -%}
                      {%- if product.selected_or_first_available_variant.inventory_quantity > 0 -%}
                        {%- if product.selected_or_first_available_variant.inventory_quantity <= block.settings.inventory_threshold -%}
                          <svg width="15" height="15" aria-hidden="true">
                            <circle cx="7.5" cy="7.5" r="7.5" fill="rgb(238,148,65, 0.3)"/>
                            <circle cx="7.5" cy="7.5" r="5" stroke="rgb(255, 255, 255)" stroke-width="1" fill="rgb(238,148,65)"/>
                          </svg>
                          {%- if block.settings.show_inventory_quantity -%}
                            <span>{{- 'products.product.inventory_low_stock_show_count' | t: quantity: product.selected_or_first_available_variant.inventory_quantity -}}</span>
                          {%- else -%}
                            <span>{{- 'products.product.inventory_low_stock' | t -}}</span>
                          {%- endif -%}
                        {%- else -%}
                          <svg width="15" height="15" aria-hidden="true">
                            <circle cx="7.5" cy="7.5" r="7.5" fill="rgb(62,214,96, 0.3)"/>
                            <circle cx="7.5" cy="7.5" r="5" stroke="rgb(255, 255, 255)" stroke-width="1" fill="rgb(62,214,96)"/>
                          </svg>
                          {%- if block.settings.show_inventory_quantity -%}
                           <span>{{- 'products.product.inventory_in_stock_show_count' | t: quantity: product.selected_or_first_available_variant.inventory_quantity -}}</span>
                          {%- else -%}
                            <span>{{- 'products.product.inventory_in_stock' | t -}}</span>
                          {%- endif -%}
                        {%- endif -%}
                      {%- else -%}
                        {%- if product.selected_or_first_available_variant.inventory_policy == 'continue' -%}
                          <svg width="15" height="15" aria-hidden="true">
                            <circle cx="7.5" cy="7.5" r="7.5" fill="rgb(62,214,96, 0.3)"/>
                            <circle cx="7.5" cy="7.5" r="5" stroke="rgb(255, 255, 255)" stroke-width="1" fill="rgb(62,214,96)"/>
                          </svg>
                          <span>{{- 'products.product.inventory_out_of_stock_continue_selling' | t -}}</span>
                        {%- else -%}
                          <svg width="15" height="15" aria-hidden="true">
                            <circle cx="7.5" cy="7.5" r="7.5" fill="rgb(200,200,200, 0.3)"/>
                            <circle cx="7.5" cy="7.5" r="5" stroke="rgb(255, 255, 255)" stroke-width="1" fill="rgb(200,200,200)"/>
                          </svg>
                          <span>{{- 'products.product.inventory_out_of_stock' | t -}}</span>
                        {%- endif -%}
                      {%- endif -%}
                    {%- endif -%}
                  </div>

                  {%- when 'product_price' -%}
                  <div class="pro-price-label">
                    <div class="price-box" id="price-{{ section.id }}">
                      <span class="new-price" id="ProductPrice">{{ product.selected_or_first_available_variant.price | money }}</span>
                      {%- if product.compare_at_price_max > product.price -%}
                      <span class="old-price" id="ComparePrice">{{ product.selected_or_first_available_variant.compare_at_price | money }}</span>
                      {%- endif -%}
                      <small class="unit-price caption{% if product.selected_or_first_available_variant.unit_price_measurement == nil %} d-none{% endif %}">
                        <span class="price-item price-item--last">
                          <span class="unit-price-unit">{{- product.selected_or_first_available_variant.unit_price | money -}}</span>
                          <span>
                            {%- if product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 -%}
                              {{- product.selected_or_first_available_variant.unit_price_measurement.reference_value -}}
                            {%- endif -%}
                            {{ product.selected_or_first_available_variant.unit_price_measurement.reference_unit }}
                          </span>
                        </span>
                      </small>
                    </div>
                    {% if settings.sale_percent_enable %}
                    <div class="product-label">
                      <span class="sale-title" id="ProductDiscount">{{ product.selected_or_first_available_variant.compare_at_price | minus: product.selected_or_first_available_variant.price | times: 100.0 | divided_by: product.selected_or_first_available_variant.compare_at_price | money_without_currency | replace: ',', '.' | times: 100 | remove: '.0' }}</span>
                    </div>
                    {% endif %}
                  </div>
                  
                  {%- when 'short_description' -%}
                  <div class="product-description">
                    {{ block.settings.short_description }}
                  </div>
                  {%- when 'swatch_option' -%}
                  <div class="pro-detail-action">
                   {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %} 
                  </div>
                  {%- when 'quantity_selector' -%}
                  <div id="Quantity-Form-{{ section.id }}" class="product-qty" {{ block.shopify_attributes }}>
                  {%- assign cart_qty = cart | item_count_for_variant: product.selected_or_first_available_variant.id -%}
                  <h6 class="qty-head">
                    {{ 'products.product.quantity.label' | t }}
                  </h6>
                  <quantity-input class="quantity qty-box">
                    <button class="qty-bt" name="minus" type="button">-</button>
                    <input class="qty-box-input" type="number" name="quantity" id="Quantity-{{ section.id }}" data-cart-quantity="{{ cart_qty }}" data-min="{{ product.selected_or_first_available_variant.quantity_rule.min }}" min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                      {% if product.selected_or_first_available_variant.quantity_rule.max != null %} data-max="{{ product.selected_or_first_available_variant.quantity_rule.max }}" max="{{ product.selected_or_first_available_variant.quantity_rule.max }}" {% endif %} step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}" value="{{ product.selected_or_first_available_variant.quantity_rule.min }}" form="{{ product_form_id }}"/>
                    <button class="qty-bt" name="plus" type="button">+</button>
                  </quantity-input>
                  <div class="quantity__rules caption">
                    {%- if product.selected_or_first_available_variant.quantity_rule.increment > 1 -%}
                      <span class="divider">
                        {{-
                          'products.product.quantity.multiples_of'
                          | t: quantity: product.selected_or_first_available_variant.quantity_rule.increment
                        -}}
                      </span>
                    {%- endif -%}
                    {%- if product.selected_or_first_available_variant.quantity_rule.min > 1 -%}
                      <span class="divider">
                        {{-
                          'products.product.quantity.minimum_of'
                          | t: quantity: product.selected_or_first_available_variant.quantity_rule.min
                        -}}
                      </span>
                    {%- endif -%}
                    {%- if product.selected_or_first_available_variant.quantity_rule.max != null -%}
                      <span class="divider">
                        {{-
                          'products.product.quantity.maximum_of'
                          | t: quantity: product.selected_or_first_available_variant.quantity_rule.max
                        -}}
                      </span>
                    {%- endif -%}
                  </div>
                </div>
                  {% when 'Subscription' %}
                    {% render 'subscription' %}

                  {%- when 'buy_buttons' -%}
                    {%- render 'buy-buttons', block: block, product: product, product_form_id: product_form_id, section_id: section.id, show_pickup_availability: true -%}
                  
                  {%- when 'product_sku' -%}
                  {%- if current_variant.sku.size > 0 -%}
                  <div class="product-sku">
                    <h6>{{ block.settings.product_sku_title }}</h6>
                    <span class="variant-sku" id="Sku-{{ section.id }}">{{ current_variant.sku }}</span>
                  </div>
                  {%- endif -%}
                  {%- when 'social_icon' -%}
                  {% include 'social-share' %}
                  {%- when 'payment_img' -%}
                  <div class="product-checkout-image">
                    <img src="{% if block.settings.checkout_img %}{{ block.settings.checkout_img | img_url: 'master' }}{% else %}https://via.placeholder.com/500x80{% endif %}">
                  </div>
                  {%- endcase -%}
                  {%- endfor -%}
                </div>
              </product-info>
            </div>
          </div>
        </div>
        {% if section.settings.service_enable %}
        <div class="grid-wrapper ser-wrapper">
          <ul class="pr-sr-wrap">
            {% if section.settings.service_icon1 != empty or section.settings.service_title1 != empty or section.settings.service_text1 != empty %}
            <li class="pr-sr-wrapper">
              <div class="iconbox-inner">
                {% if section.settings.service_icon1 != '' %}
                <span class="icon">
                  <span class="{{ section.settings.service_icon1 }}"></span>
                </span>
                {% endif %}
                <div class="iconbox-wrap">
                  <h4 class="title">{{ section.settings.service_title1 }}</h4>
                  <p class="des">{{ section.settings.service_text1 }}</p>
                </div>
              </div>
            </li>
            {% endif %}
            {% if section.settings.service_icon2 != empty or section.settings.service_title2 != empty or section.settings.service_text2 != empty %}
            <li class="pr-sr-wrapper">
              <div class="iconbox-inner">
                {% if section.settings.service_icon2 != '' %}
                <span class="icon">
                  <span class="{{ section.settings.service_icon2 }}"></span>
                </span>
                {% endif %}
                <div class="iconbox-wrap">
                  <h4 class="title">{{ section.settings.service_title2 }}</h4>
                  <p class="des">{{ section.settings.service_text2 }}</p>
                </div>
              </div>
            </li>
            {% endif %}
            {% if section.settings.service_icon3 != empty or section.settings.service_title3 != empty or section.settings.service_text3 != empty %}
            <li class="pr-sr-wrapper">
              <div class="iconbox-inner">
                {% if section.settings.service_icon3 != '' %}
                <span class="icon">
                  <span class="{{ section.settings.service_icon3 }}"></span>
                </span>
                {% endif %}
                <div class="iconbox-wrap">
                  <h4 class="title">{{ section.settings.service_title3 }}</h4>
                  <p class="des">{{ section.settings.service_text3 }}</p>
                </div>
              </div>
            </li>
            {% endif %}
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <script type="text/javascript">
    function zoom(e){
      var zoomer = e.currentTarget;
      e.offsetX ? offsetX = e.offsetX : offsetX = e.touches[0].pageX
      e.offsetY ? offsetY = e.offsetY : offsetX = e.touches[0].pageX
      x = offsetX/zoomer.offsetWidth*100
      y = offsetY/zoomer.offsetHeight*100
      zoomer.style.backgroundPosition = x + '% ' + y + '%';
    }
    setTimeout(function () {
      var $owl = $('#pro-detail-slider-{{ product.id }}');
      var owl = $owl.owlCarousel({
        loop: false,
        margin: 15,
        nav: false,
        {%- if settings.enable_rtl -%}
        rtl: true,
        {%- endif -%}
        dots: false,
        items:4
      });
      
      owl.trigger('refresh.owl.carousel');
      $(document).on("click",'.product-single__thumbnail',function(e) {
        e.preventDefault();
        $.magnificPopup.close();
        var href = $(this).off("click").attr('href');
        $('.product-single__thumbnail').removeClass('active');
        $('#zoom_mw-{{ product.id }}').attr('src',href);
        $('figure').css('background-image', 'url(' + href + ')');
        $(this).addClass('active');
        //add .off() if you don't want to trigger any event associated with this link
      });
      $(".option-block .op-lb").click(function(){
        var op_select = $(this).text();
        $(this).parents('.variant-option-block').find('.current-option').html(op_select);
      });
    },500);
    document.addEventListener('DOMContentLoaded', function () {
      function isIE() {
        const ua = window.navigator.userAgent;
        const msie = ua.indexOf('MSIE ');
        const trident = ua.indexOf('Trident/');
        return msie > 0 || trident > 0;
      }
      if (!isIE()) return;
      const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id"]');
      const noScriptInputWrapper = document.createElement('div');
      const variantSwitcher =
        document.querySelector('pr-option[data-section="{{ section.id }}"]') ||
        document.querySelector('variant-selects[data-section="{{ section.id }}"]');
      noScriptInputWrapper.innerHTML = document.querySelector(
        '.product-form__noscript-wrapper-{{ section.id }}'
      ).textContent;
      variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

      document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function (event) {
        hiddenInput.value = event.currentTarget.value;
      });
    });

    // viewed product 
    productInfo = {
      id: {{ product.id }},
      title: "{{ product.title }}",
      image: "{{ product.featured_image.src | img_url : '270X324', crop: 'center'  }}",
      url: "https://trung-spice.myshopify.com/products/{{ product.handle }}"
    };
  
    viewedProducts = JSON.parse(localStorage.getItem("viewedProducts")) || [];
    existingProductIndex = viewedProducts.findIndex(function(item) {
      return item.id === productInfo.id;
    });
  
    if (existingProductIndex !== -1) {
      viewedProducts.splice(existingProductIndex, 1);
    }
  
    viewedProducts.unshift(productInfo);
    if (viewedProducts.length > 10) {
      viewedProducts.pop();
    }
  
    localStorage.setItem("viewedProducts", JSON.stringify(viewedProducts));
  </script>
</section>
{% schema %}
{
  "name": "Product",
  "settings": [
  {
    "type": "header",
    "content": "Section Padding"
  },
  {
    "type": "range",
    "id": "section_padding_top",
    "label": "Section Padding Top",
    "min": 0,
    "max": 100,
    "step": 5,
    "unit": "px",
    "default": 80
  },
  {
    "type": "range",
    "id": "section_padding_bottom",
    "label": "Section Padding Bottom",
    "min": 0,
    "max": 100,
    "step": 5,
    "unit": "px",
    "default": 80
  },
  {
    "type" : "paragraph",
    "content" : "Mobile"
  },
  {
    "type": "range",
    "id": "section_padding_top_xs",
    "label": "Section Padding Top",
    "min": 0,
    "max": 100,
    "step": 5,
    "unit": "px",
    "default": 50
  },
  {
    "type": "range",
    "id": "section_padding_bottom_xs",
    "label": "Section Padding Bottom",
    "min": 0,
    "max": 100,
    "step": 5,
    "unit": "px",
    "default": 50
  },
  {
    "type": "header",
    "content": "Product Zoom"
  },
  {
    "type": "checkbox",
    "id": "zoom_enable",
    "label": "Show Product Zoom",
    "default": true
  },
  {
    "type": "header",
    "content": "Product service"
  },
  {
    "type": "checkbox",
    "id": "service_enable",
    "label": "Show service",
    "default": true
  },
  {
    "type": "text",
    "id": "service_icon1",
    "label": "Service icon",
    "default": "ti-truck",
    "info": "[See Icon Name](https:\/\/themify.me\/themify-icons)"
  },
  {
    "type": "text",
    "id": "service_title1",
    "label": "Service title",
    "default": "DELIVERY INFO"
  },
  {
    "type": "textarea",
    "id": "service_text1",
    "label": "Service text",
    "default": "From then, delivery is generally within 2-10 days, depending on your location."
  },
  {
    "type": "text",
    "id": "service_icon2",
    "label": "Service icon",
    "default": "ti-money",
    "info": "[See Icon Name](https:\/\/themify.me\/themify-icons)"
  },
  {
    "type": "text",
    "id": "service_title2",
    "label": "Service title",
    "default": "30 DAYS RETURNS"
  },
  {
    "type": "textarea",
    "id": "service_text2",
    "label": "Service text",
    "default": "Not the right fit? No worries. We'll arrange pick up and a full refund within 7 days including the delivery fee."
  },
  {
    "type": "text",
    "id": "service_icon3",
    "label": "Service icon",
    "default": "ti-id-badge",
    "info": "[See Icon Name](https:\/\/themify.me\/themify-icons)"
  },
  {
    "type": "text",
    "id": "service_title3",
    "label": "Service title",
    "default": "10 YEAR WARRANTY"
  },
  {
    "type": "textarea",
    "id": "service_text3",
    "label": "Service text",
    "default": "Quality comes first and our products are designed to last."
  }
  ],
  "blocks": [
  {
    "type": "@app"
  },
  {
    "type": "text",
    "name": "Text block",
    "settings": [
    {
      "type": "text",
      "id": "text",
      "default": "Text block",
      "label": "Meta metafields text"
    }
    ]
  },
  {
    "type": "title_wrap",
    "name": "Product title",
    "limit": 1
  },
  {
    "type": "Subscription",
    "name": "Subscription",
    "limit": 1
  },
  {
    "type": "product_ratting",
    "name": "Product ratting",
    "limit": 1
  },
  {
    "type": "product_price",
    "name": "Product price",
    "limit": 1
  },
  {
    "type": "short_description",
    "name": "Product short description",
    "limit": 1,
    "settings": [
    {
      "type": "header",
      "content": "metafields add"
    },
    {
      "type": "paragraph",
      "content": "[Add short description product](\/admin\/metafields\/product\/create)"
    },
    {
      "type": "text",
      "id": "short_description",
      "label": "Short description",
      "default": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s."
    }
    ]
  },
  {
  "type": "inventory",
  "name": "Inventory status",
  "limit": 1,
  "settings": [
  {
      "type": "text",
      "id": "availability_title",
      "label": "Available Title",
      "default": "Availability:"
    },
    {
      "type": "range",
      "id": "inventory_threshold",
      "label": "Low inventory threshold",
      "min": 0,
      "max": 100,
      "step": 1,
      "info": "Choose 0 to always show in stock if available.",
      "default": 10
    },
    {
      "type": "checkbox",
      "id": "show_inventory_quantity",
      "label": "Show inventory count",
      "default": true
    }
  ]
  },
  {
    "type": "swatch_option",
    "name": "Product swatch option",
    "limit": 1,
    "settings": [
      {
        "type": "select",
        "id": "picker_type",
        "options": [
          {
            "value": "dropdown",
            "label": "Dropdown"
          },
          {
            "value": "button",
            "label": "Block"
          }
        ],
        "default": "button",
        "label": "Type"
      }
    ]
  },
  {
    "type": "quantity_selector",
    "name": "Quantity selector",
    "limit": 1
  },
  {
    "type": "buy_buttons",
    "name": "Buy buttons",
    "limit": 1,
    "settings": [
      {
        "type": "checkbox",
        "id": "show_dynamic_checkout",
        "default": true,
        "label": "Show dynamic checkout buttons"
      }
    ]
  },
  {
    "type": "product_sku",
    "name": "Product sku code",
    "limit": 1,
    "settings": [
    {
      "type": "text",
      "id": "product_sku_title",
      "label": "SKU Title",
      "default": "SKU:"
    }
    ]
  },
  {
    "type": "social_icon",
    "name": "Social icon",
    "limit": 1,
    "settings": [
    {
      "type": "text",
      "id": "social_share_title",
      "label": "Social Share Title",
      "default": "Share:"
    }
    ]
  },
  {
    "type": "payment_img",
    "name": "Payment Image",
    "limit": 1,
    "settings": [
    {
      "type": "image_picker",
      "id": "checkout_img",
      "label": "Deal images",
      "info": "Recommended Size: 500 x 80px"
    }
    ]
  }
  ]
}
{% endschema %}
<style>
.product-details-page {
  padding-top: {{ section.settings.section_padding_top }}px;
  padding-bottom: {{ section.settings.section_padding_bottom }}px;
}
@media(max-width: 1199px){
  .product-details-page {
    padding-top: {{ section.settings.section_padding_top_xs }}px;
    padding-bottom: {{ section.settings.section_padding_bottom_xs }}px;
  }
}
</style>

